<div class="container">
<div class="spacer"></div>
 <div style="text-align:right;">
    <%= link_to edit_shop_path do %>
    	<i class="glyphicon glyphicon-cog"></i> Settings & Notifications
   	<% end %>
  </div>
<div class="spacer"></div>
<%= render 'sessions/logo' %>

<%= render 'app_explanation' %>

<%= render 'index_scanner' %>

<div class="celebs">
  <%= render 'celebrity_table' %>
</div>

</div>
