<% unless @shop.plan == "free" || @shop.plan == "basic" %>
	<div>
		<p>Customers who have over <%= f.number_field :twitter_follower_threshold, :style=>"width:75px;" %> Twitter followers should be considered celebrities.</p>
	</div>

	<div>
		<p>Customers who have over <%= f.number_field :youtube_subscriber_threshold, :style=>"width:75px;" %> Youtube subscribers should be considered celebrities.</p>
	</div>

	<div>
		<p>Customers who have over <%= f.number_field :instagram_follower_threshold, :style=>"width:75px;" %> Instagram followers should be considered celebrities.</p>
	</div>

	<div>
		<p>Customers who have a Klout score over <%= f.number_field :klout_score_threshold, :style=>"width:75px;", :max=> 100 %> should be considered celebrities.</p>
	</div>
<% else %>
 	<div class="alert alert-info">
 		<p>Follower count scanning is disabled on some plans, but we'll notify you of your first major influencer for free (over 5 followers).</p>
 	</div>
	<p> Or you can <%= link_to 'upgrade', plan_path %> your plan</p>
 	<div class="disabled-social-data">
	 	<div>
			<p>Customers who have over <%= f.number_field :twitter_follower_threshold, :style=>"width:75px;" %> Twitter followers should be considered celebrities. <%= f.check_box :twitter_follower_threshold, :data => { :toggle => 'toggle', :onstyle=>"info", :size=>"mini" }, :disabled=> true %></p>
		</div>

		<div>
			<p>Customers who have over <%= f.number_field :youtube_subscriber_threshold, :style=>"width:75px;" %> Youtube subscribers should be considered celebrities. <%= f.check_box :youtube_subscriber_threshold, :data => { :toggle => 'toggle', :onstyle=>"info", :size=>"mini" }, :disabled=> true %></p>
		</div>

		<div>
			<p>Customers who have over <%= f.number_field :instagram_follower_threshold, :style=>"width:75px;" %> Instagram followers should be considered celebrities. <%= f.check_box :instagram_follower_threshold, :data => { :toggle => 'toggle', :onstyle=>"info", :size=>"mini" }, :disabled=> true %></p>
		</div>

		<div>
			<p>Customers who have a Klout score over <%= f.number_field :klout_score_threshold, :style=>"width:75px;", :max=> 100 %> should be considered celebrities. <%= f.check_box :klout_score_threshold, :data => { :toggle => 'toggle', :onstyle=>"info", :size=>"mini" }, :disabled=> true %></p>
		</div>
	</div>
<% end %>