<p id="notice"><%= notice %></p>

<div class="container settings">
<div class="spacer"></div>
<div class="col-lg-8 col-lg-offset-2">
  <h1>Settings</h1>
  <%= link_to "< Back to Celebrities & Influencers", celebrities_path %>
 </div>

<div class="clearfix"></div>
<div class="spacer"></div>

<div class="panel panel-default col-lg-8 col-lg-offset-2 text-center">
	 <div class="panel-body">
		  <%= form_for @shop do |f| %>

			 <p>Email Notifications: <%= f.check_box :email_notifications, :data => { :toggle => 'toggle', :onstyle=>"info", :size=>"mini" } %></p>

			 <div class="spacer"></div>

			 <p>Customers who have Wikipedia pages should be considered celebrities: <%= f.check_box :wikipedia_notification, :data => { :toggle => 'toggle', :on => "Yes", :off => "No", :onstyle=>"success", :size=>"mini" } %></p>
			 <p>Customers who have IMDB pages should be considered celebrities: <%= f.check_box :imdb_notification, :data => { :toggle => 'toggle', :on => "Yes", :off => "No", :onstyle=>"success", :size=>"mini" } %></p>
			 <div id="slider">
			  	<p>Customers who have over <%= f.number_field :twitter_follower_threshold, :style=>"width:75px;" %> Twitter followers should be considered celebrities.</p>
			 </div>

	         <div>
	           <p>Customers who have over <%= f.number_field :youtube_subscriber_threshold, :style=>"width:75px;" %> Youtube subscribers should be considered celebrities.</p>
	         </div>

	         <div>
	           <p>Customers who have over <%= f.number_field :instagram_follower_threshold, :style=>"width:75px;" %> Instagram followers should be considered celebrities.</p>
	         </div>

	         <div>
	           <p>Customers who have a Klout score over <%= f.number_field :klout_score_threshold, :style=>"width:75px;", :max=> 100 %> should be considered celebrities.</p>
	         </div>

	         

			<%= f.submit 'Update Settings', :class=>"btn btn-default" %>

		<% end %>
		  </div>
  </div>

  <div class="spacer clearfix"></div>
  <a name="plan"></a>
  <div class="panel panel-default col-lg-8 col-lg-offset-2 text-center">
	 <div class="panel-body">
		  <%= form_for @shop, :url => confirm_update_path do |f| %>


	         <div>
	         	<h2>Current Plan</h2>
	         	<%= f.radio_button :plan, 'free', :checked => true %> 
	         	<%= label :plan_free, 'Free' %>
	         	<%= f.radio_button :plan, 'basic' %> 
	         	<%= label :plan_basic, 'Basic' %>
	         	<%= f.radio_button :plan, 'pro' %>
	         	<%= label :plan_pro, 'Pro' %>
	         	<%= f.radio_button :plan, 'stalker' %>
	         	<%= label :plan_stalker, 'Stalker' %>
	         </div>

	         <div class="spacer">
	         	<table class="table table-bordered">
		         	<thead>
	      				<tr><th></th><th>Free</th><th>Basic ($29/mo)</th><th>Pro ($49/mo)</th><th>Stalker ($99/mo)</th></tr>
	      			</thead>
	      			<tbody>
	      				<tr><td>Scans per Month</td><td>30</td><td>100</td><td>300</td><td>1000</td></tr>

	      			</tbody>
	         	</table>
	         	<div class="text-center">
	         		<p>Need more than 1000 scans per month? <%= link_to 'Contact us', 'mailto:jackson@pixelburst.co' %></p>
	         	</div>
	         </div>
<!-- 
	         	<tr><td>Wikipedia Scanning</td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td></tr>
	      				<tr><td>IMDB Scanning</td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td></tr>
	      				<tr><td>Twitter Scanning</td><td><i class="glyphicon glyphicon-ok"></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td></tr>
	      				<tr><td>Instagram Scanning</td><td><i class="glyphicon glyphicon-ok"></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td></tr>
	      				<tr><td>Youtube Scanning</td><td><i class="glyphicon glyphicon-ok"></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td></tr>
	      				<tr><td>Klout Scanning</td><td><i class="glyphicon glyphicon-ok"></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td></tr>
 -->
	         

			<%= f.submit 'Update Plan', :class=>"btn btn-default" %>

		<% end %>
		  </div>
  </div>




<div class="spacer"></div>



</div>


<script> 

function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

$('#shop_twitter_follower_threshold').on('change keyup', function(){
	var twitterCount = numberWithCommas($('#shop_twitter_follower_threshold').val())
	$('.twitter-count').text(twitterCount);
}).triggerHandler('keyup');
	
</script>
