<span id="notice"><%= notice %></span>

<div class="container settings">
	<%= render 'customers/header' %>
  <div class="col-lg-8 col-lg-offset-2">
  <%= link_to "< Back to Celebrities & Influencers", customers_path %>
 </div>
 <div class="clearfix spacer"></div>
  <a name="plan"></a>
  <div class="panel panel-default col-lg-8 col-lg-offset-2 text-center">
  	<div class="panel-header">
  	 <h1>You are on the <%= @shop.plan.titleize %> Groupie Plan</h1>
  	</div>
	 <div class="panel-body">
		  <%= form_for @shop, :url => update_plan_step_1_path do |f| %>


	         <div>
	         	<%= f.radio_button :plan, 'free', :checked => true %> 
	         	<%= label :plan_free, 'Free' %>
	         	<%= f.radio_button :plan, 'basic' %>
	         	<%= label :plan_basic, 'Basic' %>
	         	<%= f.radio_button :plan, 'pro' %>
	         	<%= label :plan_pro, 'Pro' %>
	         	<%= f.radio_button :plan, 'stalker' %>
	         	<%= label :plan_stalker, 'Stalker' %>
	         	<%= f.radio_button :plan, 'god' %>
	         	<%= label :plan_god, 'God Mode' %>
	         </div>

	         <div class="spacer">
	         	<table class="table table-bordered">
		         	<thead>
	      				<tr><th></th><th>Free</th><th>Basic ($29/mo)</th><th>Pro ($59/mo)</th><th>Stalker ($99/mo)</th><th>God Mode ($199/mo)</th></tr>
	      			</thead>
	      			<tbody>
	      				<tr><td>Wikipedia & IMDB Scans</td><td>20</td><td>Unlimited</td><td>Unlimited</td><td>Unlimited</td><td>Unlimited</td></tr>
	      				<tr><td>Follower Social Scans</td><td><i class="glyphicon glyphicon-remove"></i></td><td>200 scans/mo</td><td>1000 scans/mo</td><td>2500 scans/mo</td><td>6000 scans/mo</td></tr>
	      				<tr><td>Bulk Scan Past Customers</td><td><i class="glyphicon glyphicon-remove"></i></td><td><i class="glyphicon glyphicon-remove"></i></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></td></tr>
	      			</tbody>
	         	</table>
	         	<div class="text-center">
	         		<p>Need more than 2500 scans per month? <%= link_to 'Contact us', 'mailto:jackson@pixelburst.co' %></p>
	         	</div>
	         </div>
<!-- 
	         	<tr><td>Wikipedia Scanning</td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td></tr>
	      				<tr><td>IMDB Scanning</td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td></tr>
	      				<tr><td>Twitter Scanning</td><td><i class="glyphicon glyphicon-ok"></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td></tr>
	      				<tr><td>Instagram Scanning</td><td><i class="glyphicon glyphicon-ok"></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td></tr>
	      				<tr><td>Youtube Scanning</td><td><i class="glyphicon glyphicon-ok"></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td></tr>
	      				<tr><td>Klout Scanning</td><td><i class="glyphicon glyphicon-ok"></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td><td><i class="glyphicon glyphicon-ok"></i></td></tr>
 -->
	         

			<%= f.submit 'Update Plan', :class=>"btn btn-info" %>

		<% end %>
		  </div>
  </div>




<div class="spacer"></div>

<%= render 'celebrity_odds' %>

<div class="spacer"></div>



</div>



