<h1>Groupie bulk scan is complete.</h1>
<p>We scanned <%= @total_scanned %> customers and found <%= @total_found %> celebrities based on your criteria. You have <%= @scans_remaining %> scans remaining and <%= @unscanned_customers %> unscanned customers (you can change your plan <%= link_to 'here', plan_url %>).</p>

<p>You can view all your store's celebrities <%= link_to "here", customers_url %></p>


   






