<h1>You just made a sale to <%= @celebrity.full_name %></h1>

<%= render 'wikipedia' %>
<%= render 'imdb' %>
<%= render 'followers' %>
<%= description(@celebrity) %>

<p>
  **Investigate this further to see if it's legit then reach out to see if you can get a shout out for your brand.**
</p>

<div class="text-center">
  <strong>You can turn off celebrity notifications <%= link_to "here", edit_shop_url %></strong>
</div>






