<h1>You just made a sale to <%= name(@celebrity) %></h1>

<p>We've been scanning your customers and we found your first major influencer:</p>

<p><%= bio(@celebrity) %></p>

<ul>
  <% if @celebrity.youtube_celebrity? %>
   <li>Youtube Subscribers: <%= youtube_subscriber_count(@celebrity) %></li>
 <% end %>

 <% if @celebrity.twitter_celebrity? %>
   <li>Twitter Followers: <%= twitter_follower_count(@celebrity) %></li>
 <% end %>

 <% if @celebrity.instagram_celebrity? %>
   <li>Instagram Followers: <%= instagram_follower_count(@celebrity) %></li>
 <% end %>
</ul>

<p>You should reach out to this customer as soon as possible, here are the best ways to get a response:</p>
<ul>
  <li>For a major celebrity - send a personal email, mention you are fans, and say that you are including some of your favorite products for free. We recommend not asking for anything in return yet, but followup at a later date</li>
  <li>For influencers (but not major celebrities), you could explain that your store is offering a product in return for a Twitter/Instagram/Youtube mention.</li>
</ul>
<p><b>Unfortunately we can't continue scanning your customer follower counts unless you <%= link_to 'upgrade', plan_path %>.</b></p>
   






