<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Groupie - Discover your celebrity customers",
      icon: "<%= asset_path('favicon.ico') %>"
    });
  });
</script>
<div class="container">

  <h1 class="text-center"><%= image_tag('small-logo.jpg') %> Potential Celebrities</h1>
  <div class="spacer"></div>

      <% @customers.each do |customer| %>
        <%= link_to "https://#{@shop_session.url}/admin/customers/#{customer.id}", :target=>"_blank" do %>
          <div class="customer well">
             <%= customer.first_name.titleize %> <%= customer.last_name.titleize %> - Movie Actor Run Lola Run
          </div>
        <% end %>
      <% end %>
   
</div>