<div class="spacer"></div>

<%= form_tag bulk_scan_path, :id=>"bulk_scan_form", :remote => true do %>
	<div class="row vertical-align bulk-import">
	  <div class="text-center col-sm-4">
	    <% if @bulk_scans_allowed %>
	    	<%= submit_tag "Bulk Scan", :class=>"btn btn-danger", :id => "bulk-scan" %>
	    <% else %>
	    	<div class="tooltip-wrapper">
	    		<div class="tooltip">Upgrade plan to access bulk scanner</div>
	    		<%= submit_tag "Bulk Scan", :class=>"btn btn-danger btn-disabled", :id => "bulk-scan", :disabled=> true %>
	    	</div>
	    <% end %>
	  </div>
	  <div class="col-sm-8">
	     <p>Scan your <%= number_field_tag 'quantity', 50, in: 1..@social_scans_remaining %> most recent unscanned customers.</p>
	     <%= hidden_field_tag :include_scanned, '' %>
	    <!--  <%= check_box_tag :include_scanned %> <em>Include customers who have already been scanned by Alpha Club</em> -->
	  </div>
	</div>
<% end %>

<div class="spacer"></div>