<tr class='celebrity-row'>
   <td>
      <%= link_to customer_archive_path(celebrity), :remote=>"true" do %>
        <i class="glyphicon glyphicon-remove"></i>
      <% end %>  
   </td>
   <td><%= name(celebrity) %></td>
   <td><%= bio(celebrity) %></td>


   <% if current_shop.wikipedia_notification %>
     <td><%= wikipedia_link(celebrity) %></td>
   <% end %>

    <% if current_shop.imdb_notification %>
     <td><%= imdb_link(celebrity) %></td>
   <% end %>

   <% if current_shop.klout_score_threshold %>
     <td><%= klout_score(celebrity) %></td>
   <% end %>

    <% if current_shop.youtube_subscriber_threshold %>
     <td><%= youtube_subscriber_count(celebrity) %></td>
   <% end %>

   <% if current_shop.twitter_follower_threshold %>
     <td><%= twitter_follower_count(celebrity) %></td>
   <% end %>

   <% if current_shop.instagram_follower_threshold %>
     <td><%= instagram_follower_count(celebrity) %></td>
   <% end %>

   
   
   
   
</tr>

