<div class="container">

	<%= render 'scans_remaining' %>

	<%= render 'app_explanation' %>

	<%= render 'bulk_import' %>

	<%= render 'index_scanner' %>

	<div class="celebs">
	  <%= render 'celebrity_table' %>
	</div>

</div>
