<div class="container">

	<div class="spacer"></div>

	<div style="text-align:right;">
	<% if @plan == "free" %>
	 	<h4><span id="scans-remaining"><%= @scans_remaining %></span> free customer scans remaining (<%= link_to "change plan", plan_path %>)</h4>
	<% else %>
	 	<h4><span id="scans-remaining"><%= @scans_remaining %></span> customer scans remaining this month (<%= link_to "change plan", plan_path %>)</h4>
	<% end %>

	    <%= link_to edit_shop_path do %>
	    	<i class="glyphicon glyphicon-cog"></i> Settings & Notifications
	   	<% end %>
	  </div>

	<%= render 'app_explanation' %>

	<%= render 'bulk_import' %>

	<%= render 'index_scanner' %>

	<div class="celebs">
	  <%= render 'celebrity_table' %>
	</div>

</div>
